/*  your css code here. If applicable */
div{
	border:2px solid black;
	height:200px;
	width:200px;
	background-color:lightblue;
	text-align:center;
    margin:auto;
	margin-top:40%;
}
h2{
	margin-top:40%;
	color:purple;
}